/* Definindo nosso estilo do projeto... */

@charset "utf8";

body 
{
    margin-top: 40px;
    padding: 40px;
}

.fundofixo 
{
    background: url('../images/churrascaria.png') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;

}

.fundo-branco 
{
    background-color: aliceblue;
}